  <!-- <ion-list v-for="item in items" :key="item"> -->
  <!-- </ion-list> -->
  
  <!-- <ion-infinite-scroll
    @ionInfinite="loadData($event)"
    threshold="100px"
    id="infinite-scroll"
    :disabled="isDisabled"
  >
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading..."></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  <!-- <RequestCard></RequestCard> -->
  <app-header></app-header>
  <ion-content class="ion-padding">
    <app-request-card></app-request-card>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button [routerLink]="['/requestform']" routerLinkActive="router-link-active" color="success">+</ion-fab-button>
    </ion-fab>
</ion-content>